.detail-label {
    font-size: 14px;
    padding: 3px;
    width: 100px;
    text-align: right;
}

.detail-content {
    font-size: 16px;
    color: #333;
    padding: 3px;
}

.detail-bar {
	width: 45%;
}

.text-green {
	color: #009688;;
}

.text-blue {
	color: #01AAED;
}

.text-yellow {
	color: #FFB800;
}

.text-red {
	color: #FF5722;
}

#error-search-checkbox+.layui-form-checked {
	border-color: #FF5722;
}

#error-search-checkbox+.layui-form-checked span {
	background-color: #FF5722;
}

#error-search-checkbox+.layui-form-checked i {
	color: #FF5722;
}

#uploading-search-checkbox+.layui-form-checked {
	border-color: #01AAED;
}

#uploading-search-checkbox+.layui-form-checked span {
	background-color: #01AAED;
}

#uploading-search-checkbox+.layui-form-checked i {
	color: #01AAED;
}

#succeeded-search-checkbox+.layui-form-checked {
	border-color: #009688;
}

#succeeded-search-checkbox+.layui-form-checked span {
	background-color: #009688;
}

#succeeded-search-checkbox+.layui-form-checked i {
	color: #009688;
}


/* config file tree */
#configFileTree {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border: 1px solid #f2f2f2;
    zoom: 1;
    height: 100%;
    overflow: auto;
}
#configFileTree li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    text-decoration: none;
}
#configFileTree .treeNode {
    padding-left: 0px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    border-width: 1px 0;
    color: #2974B6;
    cursor: pointer;
}
#configFileTree .treeNode-on,
#configFileTree .treeNode-on:active,
#configFileTree .treeNode-on:hover,
#configFileTree .treeNode-on:visited {
    background: #e5f0fb;
    border-color: #BBD4EF #fff;
}
#configFileTree .treeNode-on:visited {
    border: 1px solid #fff;
    border-width: 1px 0;
    color: #2974B6;
    cursor: pointer;
}
#configFileTree .treeNode-hover {
    background: #f4f9fd;
    border-color: #e5f0fb;
}
#configFileTree .treeNode-handler {
    padding: 4px 0;
    color: #333;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    /*font-size: 0px;*/
}
#configFileTree .nodeItem {
    background: url(../images/icon-tree.png) 0 0 no-repeat;
    white-space: nowrap;
}
#configFileTree .nodeItemFile {
    background: url(../images/file1.png) 0 0 no-repeat;
    background-size: contain;
    white-space: nowrap;
}
#configFileTree .plusIcon {
    margin: 0 3px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    visibility: visible;
    cursor: pointer;
    background-position: -30px 0;
}
#configFileTree .minusIcon {
    background-position: -30px -22px;
}
#configFileTree .closeIcon {
    margin-right: 5px;
    height: 18px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    visibility: visible;
    cursor: pointer;
}
#configFileTree .openIcon {
    background-position: 0 -22px;
}
#configFileTree .nodename {
    font-size: 14px;
    line-height: 24px;
}
#configFileTree .tree-branch-collapse {
    display: none;
}
.form-workflow-item{
    margin-top: 13px;
}
/* analysis tree */

#analysis-configurator {
   
    height: 10px;
 /*   max-height: 560px;*/
    display: none;
}

.analysis-configurator-params-main-panel {
    /*min-width: 500px;
    max-width: 500px;*/
    height: 63px;
}

 .analysis-configurator-input-files-panel {
    /*min-width: 500px;
    max-width: 500px;*/
    /*height: 560px;*/
    vertical-align: top;
    padding: 0 20px;
}

.analysis-files-selector,
.analysis-input-files-group {
    /*height: 280px;*/
}

 .analysis-files-tree-div {
    height: 280px;
    margin-top: 10px;
}

 .analysis-input-files-group-title-bar {
    position: relative;
}

.analysis-input-files-group-title-operations {
    position: absolute;
    right: 0;
    top: 0px;
    background-color: white;
    padding: 0 0 0 10px;
}

/*.analysis-input-files-group-content {
    height: 110px;
}*/

.analysis-file-path-label {
    max-width: 120px;
}

/* set-start-node-btn */
.analysis-start-node {
    color: red;
}

/* set-start-node-btn */
.analysis-start-node-btn {
    color: #009688;
}

/* set-end-node-btn */
.analysis-end-node-btn {
    color: #FF5722;
}


/* 
overflow:hidden;
word-break:keep-all;
white-space:nowrap;
text-overflow:ellipsis;
 */

 /* analysis input group */

#analysis-group-tree {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border: 1px solid #f2f2f2;
    zoom: 1;
    height: 100%;
    overflow: auto;
}

#analysis-group-tree li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    text-decoration: none;
}

#analysis-group-tree .treeNode {
    padding-left: 0px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    border-width: 1px 0;
    color: #2974B6;
    /*cursor: pointer;*/
}

#analysis-group-tree .treeNode-handler {
    padding: 4px 0;
    color: #333;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    /* cursor: pointer; */
    /*font-size: 0px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
}

#analysis-group-tree .nodeItem {
    background: url(../images/icon-tree.png) 0 0 no-repeat;
    white-space: nowrap;
}

#analysis-group-tree .nodeItemFile {
    background: url(../images/file.png) center center no-repeat;
    background-size: contain;
    white-space: nowrap;
}

#analysis-group-tree .group-icon {
    margin-left: 10px;
    color: #1AA094;
}

#analysis-group-tree .input-file-icon {
    margin-left: 10px;
    color: #1AA094;
}

#analysis-group-tree .nodename {
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
}

.log-flush-bar {
    font-size: 18px;
    /*color: #5FB878;*/
    cursor: pointer;
}

.log-flush-bar-mouseover {
    color: #5FB878;
}

.lineup {
    cursor:pointer;
    color: #01AAED;
}

.layui-table thead tr,.layui-table[lay-even] thead tr:nth-child(2n){
    background-color: #e5f0f0; /* 表头样式 */
    color: black;
}

.layui-table[lay-even] tbody tr:nth-child(2n){
    background-color: #F5F5F5; /* 第双数列的样式 */
}

.layui-table[lay-even] tbody tr.layui-table-hover{
    background-color: #E0E0E0; /* 每列鼠标进入样式 */
}


.layui-input, .layui-select, .layui-textarea{
    height: 30px;
}
#gene-database-search+.layui-form-select .layui-select-title {
    width: 280px;
}
.layui-input:hover{
    border-color: #e6e6e6!important;
}

#sample-batch-operation-bar input{
    box-shadow: rgba(211, 211, 211, 0.6) 5px 5px 7px;
}
.formbox{
    margin: 10px 0;
    background-color: #fff;
    padding: 5px;
}
