footer{
    background-color: #f2f2f2;
}
.layui-col-md4 h4{
	margin-top: 19px;
	margin-bottom: 19px;
}
.layui-col-md2 h4{
	margin-top: 19px;
	margin-bottom: 19px;
}
.layui-col-md2 {
    width: 12.667%;
}
#title-div{
    min-height: 500px;
}

#form-div{
    min-height: 500px;
}
#search_div{
	 min-height: 500px;
}
/*.layui-container {
    width: 1160px;
}*/